### IIMPORTAR LIBRERIAS

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

### CARGAR LIBRERIAS DESDE .CSV

In [16]:
path_base = "C:\\Users\\fermi\\UOC\\Master UOC. Posgrado en inteligencia de negocio\\TFM\\Ficheros"
dataset_1 = pd.read_csv(path_base + "\diabetic_num.csv")

In [17]:
dataset_1.shape

(71515, 45)

### ESTABLECER VARIABLES DEPENDIENTES E INDEPENDIENTES

In [18]:
X = dataset_1.iloc[:, np.r_[0:2, 3:41, 42,43]]
y = dataset_1.iloc[:,-1].values
X.head(3)

,race_num,gender_num,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,insulin_num,glyburide.metformin_num,glipizide.metformin_num,glimepiride.pioglitazone_num,metformin.rosiglitazone_num,metformin.pioglitazone_num,change_num,diabetesMed_num,age2_num,diag_1_3_num
0,3,1,2,1,1,8,77,6,33,0,...,3,2,1,1,1,1,1,2,2,1
1,3,1,3,1,1,2,49,1,11,0,...,2,2,1,1,1,1,2,1,2,6
2,3,1,1,3,7,4,68,2,23,0,...,2,2,1,1,1,1,2,2,3,5

In [19]:
X.columns

Index(['race_num', 'gender_num', 'admission_type_id',
       'discharge_disposition_id', 'admission_source_id', 'time_in_hospital',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient',
       'number_diagnoses', 'max_glu_serum_num', 'A1Cresult_num',
       'metformin_num', 'repaglinide_num', 'nateglinide_num',
       'chlorpropamide_num', 'glimepiride_num', 'acetohexamide_num',
       'glipizide_num', 'glyburide_num', 'tolbutamide_num', 'pioglitazone_num',
       'rosiglitazone_num', 'acarbose_num', 'miglitol_num', 'troglitazone_num',
       'tolazamide_num', 'examide_num', 'citoglipton_num', 'insulin_num',
       'glyburide.metformin_num', 'glipizide.metformin_num',
       'glimepiride.pioglitazone_num', 'metformin.rosiglitazone_num',
       'metformin.pioglitazone_num', 'change_num', 'diabetesMed_num',
       'age2_num', 'diag_1_3_num'],
      dtype='object')

In [20]:
X.shape

(71515, 42)

In [21]:
X["A1Cresult_num"].value_counts()

3    58529
2     6304
4     3791
1     2891
Name: A1Cresult_num, dtype: int64

### DATOS DE ENTRENAMIENTO Y DE TEST

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state =1)

#### Datos test vs Datos train. Casos totales, Casos Positivos y Casos Negativos

In [23]:
total = len(y_train)
one_count = np.sum(y_train)
one_count_pct=one_count/total
zero_count = total - one_count
zero_count_pct = 1 - one_count_pct

print("Total registros del train", total)
print("Total positivos en y_train: ", one_count)
print("Porcentaje de positivos: ", round(one_count_pct*100,2), "%")
print("Total negativos en y_train: ", zero_count)
print("Porcentaje de negativos", round(zero_count_pct*100,2), "%")

Total registros del train 57212
Total positivos en y_train:  5029
Porcentaje de positivos:  8.79 %
Total negativos en y_train:  52183
Porcentaje de negativos 91.21 %

In [24]:
total = len(y_test)
one_count = np.sum(y_test)
one_count_pct=one_count/total
zero_count = total - one_count
zero_count_pct = 1 - one_count_pct

print("Total registros del test", total)
print("Total positivos en y_test: ", one_count)
print("Porcentaje de positivos: ", round(one_count_pct*100,2), "%")
print("Total negativos en y_test: ", zero_count)
print("Porcentaje de negativos", round(zero_count_pct*100,2), "%")

Total registros del test 14303
Total positivos en y_test:  1264
Porcentaje de positivos:  8.84 %
Total negativos en y_test:  13039
Porcentaje de negativos 91.16 %

#### Arbol de clasificación - Fase de entrenamiento

In [25]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='gini', random_state = 0)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

#### Árbol de clasificación - Fase de predicción

In [26]:
y_pred = classifier.predict(X_test)
print(y_test- y_pred)
print(sum(y_pred-y_test))

[ 0  0  0 ...  0 -1  0]
219

#### MATRIZ DE CONFUSIÓN

In [27]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[11727  1312]
 [ 1093   171]]

In [28]:
accuracy_score(y_test, y_pred)
TP = cm[1][1]
TN = cm[0][0]
FN = cm[1][0]
FP = cm[0][1]
total_casos = TP + FP + TN + FN
print("Total Casos =", total_casos)
print("Verdaderos Positivos:", TP)
print("Verdaderos Negativos:", TN)
print("Falsos Positivos: ", FP)
print("Falsos Negativos: ", FN)
exactitud = ((TP+TN) / (TP+FP+TN+FN))
print(f"Exactitud = {round(exactitud,2)}")
precision = (TP / (TP+FP))
print(f"Precisión = {round(precision,2)}")
sensitividad = (TP / (TP + FN))
print(f"Sensibilidad = {round(sensitividad,2)}")
especificidad = (TN/(TN+FP))
print(f"Especificidad = {round(especificidad, 2)}")

Total Casos = 14303
Verdaderos Positivos: 171
Verdaderos Negativos: 11727
Falsos Positivos:  1312
Falsos Negativos:  1093
Exactitud = 0.83
Precisión = 0.12
Sensibilidad = 0.14
Especificidad = 0.9